In [1]:
import pandas as pd
import ast
import pickle

In [2]:
filas=[]
with open('australian_users_items.json', encoding='utf-8') as a:
    for linea in a.readlines():
        filas.append(ast.literal_eval(linea))

In [3]:
# Suponiendo que ya tienes la lista 'filas' cargada con los datos
df_items = pd.DataFrame(filas)

In [4]:
df_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

Mostramos el contenido de la columna items

In [5]:
df_items['items']

0        [{'item_id': '10', 'item_name': 'Counter-Strik...
1        [{'item_id': '10', 'item_name': 'Counter-Strik...
2        [{'item_id': '1200', 'item_name': 'Red Orchest...
3        [{'item_id': '10', 'item_name': 'Counter-Strik...
4        [{'item_id': '300', 'item_name': 'Day of Defea...
                               ...
88305    [{'item_id': '413850', 'item_name': 'CS:GO Pla...
88306    [{'item_id': '11020', 'item_name': 'TrackMania...
88307                                                   []
88308    [{'item_id': '304930', 'item_name': 'Unturned'...
88309                                                   []
Name: items, Length: 88310, dtype: object

In [6]:
df_items['items'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 88310 entries, 0 to 88309
Series name: items
Non-Null Count  Dtype
--------------  -----
88310 non-null  object
dtypes: object(1)
memory usage: 690.0+ KB

Desanidamos la columna items para ver el contenido de la columna playtime_forever

In [7]:
# Define una función personalizada para extraer 'playtime_forever' y 'item_id' de una lista de diccionarios
def extract_playtime_and_item_id(item_list):
    playtimes = []
    item_ids = []
    for item_data in item_list:
        try:
            playtime = item_data.get('playtime_forever')
            item_id = item_data.get('item_id')
            if playtime is not None:
                playtimes.append(playtime)
                item_ids.append(item_id)
        except KeyError:
            pass
    return playtimes, item_ids

# Aplica la función para extraer 'playtime_forever' y 'item_id' y crea las nuevas columnas 'playtime' y 'item_id'
df_items['playtime'], df_items['item_id'] = zip(*df_items['items'].apply(extract_playtime_and_item_id))

# Muestra el DataFrame resultante con las nuevas columnas 'playtime' y 'item_id'
print(df_items[['user_id', 'playtime', 'item_id']])

                       user_id  \
0            76561197970982479
1                      js41637
2                    evcentric
3                   Riot-Punch
4                        doctr
...                        ...
88305        76561198323066619
88306        76561198326700687
88307  XxLaughingJackClown77xX
88308        76561198329548331
88309        edward_tremethick

                                                playtime  \
0      [6, 0, 7, 0, 0, 0, 0, 0, 4733, 1853, 333, 75, ...
1      [0, 0, 0, 220, 0, 0, 0, 62, 0, 0, 0, 0, 0, 0, ...
2      [923, 0, 0, 158, 1323, 0, 90, 0, 234, 113, 507...
3      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 67, 2304, 0, 0,...
4      [1131, 89, 178, 108, 313, 93, 16, 4, 0, 13, 47...
...                                                  ...
88305  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
88306  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
88307                                                 []
88308                           [677, 43, 0, 0, 3, 4, 3]
88309                                                 []

                                                 item_id
0      [10, 20, 30, 40, 50, 60, 70, 130, 300, 240, 38...
1      [10, 80, 100, 300, 30, 40, 60, 240, 280, 360, ...
2      [1200, 1230, 1280, 1520, 220, 320, 340, 360, 3...
3      [10, 20, 30, 40, 50, 60, 70, 130, 80, 100, 300...
4      [300, 20, 50, 70, 130, 10, 30, 40, 60, 80, 100...
...                                                  ...
88305  [413850, 413851, 413852, 413853, 413854, 41385...
88306  [11020, 6370, 13140, 51100, 107900, 113400, 20...
88307                                                 []
88308  [304930, 227940, 346330, 373330, 388490, 52157...
88309                                                 []

[88310 rows x 3 columns]

In [8]:
# Crear un nuevo DataFrame con los resultados
df_playtime = df_items[['user_id', 'playtime', 'item_id']].copy()

# Mostrar el nuevo DataFrame
print(df_playtime)

                       user_id  \
0            76561197970982479
1                      js41637
2                    evcentric
3                   Riot-Punch
4                        doctr
...                        ...
88305        76561198323066619
88306        76561198326700687
88307  XxLaughingJackClown77xX
88308        76561198329548331
88309        edward_tremethick

                                                playtime  \
0      [6, 0, 7, 0, 0, 0, 0, 0, 4733, 1853, 333, 75, ...
1      [0, 0, 0, 220, 0, 0, 0, 62, 0, 0, 0, 0, 0, 0, ...
2      [923, 0, 0, 158, 1323, 0, 90, 0, 234, 113, 507...
3      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 67, 2304, 0, 0,...
4      [1131, 89, 178, 108, 313, 93, 16, 4, 0, 13, 47...
...                                                  ...
88305  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
88306  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
88307                                                 []
88308                           [677, 43, 0, 0, 3, 4, 3]
88309                                                 []

                                                 item_id
0      [10, 20, 30, 40, 50, 60, 70, 130, 300, 240, 38...
1      [10, 80, 100, 300, 30, 40, 60, 240, 280, 360, ...
2      [1200, 1230, 1280, 1520, 220, 320, 340, 360, 3...
3      [10, 20, 30, 40, 50, 60, 70, 130, 80, 100, 300...
4      [300, 20, 50, 70, 130, 10, 30, 40, 60, 80, 100...
...                                                  ...
88305  [413850, 413851, 413852, 413853, 413854, 41385...
88306  [11020, 6370, 13140, 51100, 107900, 113400, 20...
88307                                                 []
88308  [304930, 227940, 346330, 373330, 388490, 52157...
88309                                                 []

[88310 rows x 3 columns]

In [9]:
df_items['item_id']

0        [10, 20, 30, 40, 50, 60, 70, 130, 300, 240, 38...
1        [10, 80, 100, 300, 30, 40, 60, 240, 280, 360, ...
2        [1200, 1230, 1280, 1520, 220, 320, 340, 360, 3...
3        [10, 20, 30, 40, 50, 60, 70, 130, 80, 100, 300...
4        [300, 20, 50, 70, 130, 10, 30, 40, 60, 80, 100...
                               ...
88305    [413850, 413851, 413852, 413853, 413854, 41385...
88306    [11020, 6370, 13140, 51100, 107900, 113400, 20...
88307                                                   []
88308    [304930, 227940, 346330, 373330, 388490, 52157...
88309                                                   []
Name: item_id, Length: 88310, dtype: object

Convertir item_id' en datos hashables como cadenas.

In [10]:
df_items['item_id'] = df_items['item_id'].apply(lambda x: ','.join(map(str, x)))

In [12]:
df_items['item_id']

0        10,20,30,40,50,60,70,130,300,240,3830,2630,390...
1        10,80,100,300,30,40,60,240,280,360,320,20,50,7...
2        1200,1230,1280,1520,220,320,340,360,380,400,42...
3        10,20,30,40,50,60,70,130,80,100,300,240,1200,1...
4        300,20,50,70,130,10,30,40,60,80,100,1300,1309,...
                               ...
88305    413850,413851,413852,413853,413854,413855,4138...
88306    11020,6370,13140,51100,107900,113400,200210,20...
88307
88308     304930,227940,346330,373330,388490,521570,519140
88309
Name: item_id, Length: 88310, dtype: object

Sacar playtime de listas

In [13]:
df_items['playtime'] = df_items['playtime'].apply(lambda x: ','.join(map(str, x)))

In [14]:
df_items['playtime']

0        6,0,7,0,0,0,0,0,4733,1853,333,75,338,0,2,286,2...
1        0,0,0,220,0,0,0,62,0,0,0,0,0,0,0,107,0,412,0,1...
2        923,0,0,158,1323,0,90,0,234,113,507,21,6038,16...
3        0,0,0,0,0,0,0,0,0,0,67,2304,0,0,0,0,0,0,68,0,0...
4        1131,89,178,108,313,93,16,4,0,13,47,18,0,4,1,1...
                               ...
88305          0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
88306    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
88307
88308                                     677,43,0,0,3,4,3
88309
Name: playtime, Length: 88310, dtype: object

Convertir la columna "playtime" del DataFrame df_playtime a minutos.

In [15]:
# Reemplazar valores no numéricos con NaN
df_playtime['playtime'] = df_items['playtime'].str.replace(' minutes', '', regex=False)
df_playtime['playtime'] = pd.to_numeric(df_items['playtime'], errors='coerce')

# Luego, puedes llenar los valores NaN con 0 si es necesario
df_playtime['playtime'] = df_playtime['playtime'].fillna(0)

In [16]:
df_playtime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   88310 non-null  object
 1   playtime  88310 non-null  float64
 2   item_id   88310 non-null  object
dtypes: float64(1), object(2)
memory usage: 2.0+ MB

Guardamos las columnas limpias en archivo pkl

In [19]:
df_playtime.to_pickle('playtime.pkl')

In [18]:
df_playtime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   88310 non-null  object
 1   playtime  88310 non-null  float64
 2   item_id   88310 non-null  object
dtypes: float64(1), object(2)
memory usage: 2.0+ MB